@import "~sanitize.css"
@import "mixin"
@import "variables"

html
  font-size: 10px
  @media (max-width: $desktop)
    font-size: 9.5px

  @media (max-width: $laptop)
    font-size: 9px

  @media (max-width: $pad)
    font-size: 8.5px

  @media (max-width: $padmini)
    font-size: 8px

  @media (max-width: $mobile)
    font-size: 7.5px

  @media (min-width: $pad)
    *
      -webkit-user-select: text
      user-select: none

body
  background-color: $bgColor
  font-size: 14px
  font-family: $font

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p
    font-weight: normal
    margin: 0

#app
  min-height: 100vh
  max-width: 100%
  min-width: 320px
  position: relative
  overflow: hidden

.box
  max-width: 1920px
  margin: 0 auto
  padding: 0 3rem