.home
  display: flex
  min-height: calc(100vh - 14rem)
  align-items: center

  &__text
    color: grey
    width: 58.5rem

  &__h1
    font-size: 4.2rem
    color: #ccc
    letter-spacing: 2px

  &__p
    color: #bbb
    font-size: 2.4rem
    line-height: 1.4
    margin-top: 2rem

  &__switcher
    width: 7rem
    margin: 4.5rem 0 0 0
    position: relative

    &--img
      max-width: 100%

  .vue-typer
    .custom
      &.char
        color: #ccc

      &.caret
        background-color: #ccc

  .lighter
    position: absolute
    top: 0
    left: 45%

    &__cat
      position: absolute
      top: 50%
      left: 30%

      img
        width: 100px
        position: relative
        z-index: 2

    &__on, &__off
      margin: 0
      display: none

      &.active
        display: block

    &__img
      height: 100vh

    &__arrow
      width: 17.3rem
      position: absolute
      top: 50%
      opacity: .1
      right: 0
      transform: translateY(-50%)

      &--img
        max-width: 100%

  .eye
    &__left
      & .eye
        &__pupil,&__light
          top: 54px
          left: 29px

    &__right
      & .eye
        &__pupil,&__light
          top: 54px
          left: 70px

    &__pupil,&__light
      position: absolute
      transition: left .1s ease, top .1s ease
      background: white
      transform: translate(-50%, -50%)
      border-radius: 50%

    &__pupil
      width: 5px
      height: 5px
      z-index: 1
      box-shadow: 0 0 3px 2px #ffffff

    &__light
      width: 0
      height: 0
      z-index: 3
      box-shadow: 0 0 20px 5px #ffffff