@import "~@glidejs/glide/src/assets/sass/glide.core"

@keyframes itemOdd
  0%
    width: 100%
    max-height: 100%
    height: 52.5rem

  50%
    width: 100%
    height: calc(45vw/1.2)
    max-height: 60rem
    max-width: 100%

  99%
    max-width: 100rem

  100%
    width: 45vw
    height: calc(45vw/1.2)
    max-width: 72rem
    max-height: 60rem

@keyframes itemOddRev
  0%
    width: 100%

  50%
    width: 100%
    height: calc(45vw/1.2)
    max-height: 60rem
    max-width: 100%

  99%
    max-width: 100rem

  100%
    width: 45vw
    height: calc(45vw/1.2)
    max-width: 72rem
    max-height: 60rem

@keyframes itemEven
  0%
    width: 100%
    max-height: 100%
    height: 52.5rem

  25%
    margin-top: 0

  50%
    width: 100%
    height: calc(45vw/1.2)
    max-height: 60rem
    max-width: 100%

  98.9%
    margin-top: -76rem

  99%
    margin-top: 0

  100%
    width: 45vw
    height: calc(45vw/1.2)
    max-width: 72rem
    max-height: 60rem

@keyframes itemEvenRev
  0%
    width: 100%

  25%
    margin-top: 0

  50%
    width: 100%
    height: calc(45vw/1.2)
    max-height: 60rem
    max-width: 100%

  98.9%
    margin-top: -76rem

  99%
    margin-top: 0

  100%
    width: 45vw
    height: calc(45vw/1.2)
    max-width: 72rem
    max-height: 60rem

@keyframes imageOdd
  0%
    position: relative
  1%
    left: 100%
    transform: translateX(-100%)
    position: absolute
    max-width: 100%
    max-height: 100%
  33%
    position: absolute
    left: 0
    transform: translateX(0)
    padding: 3.6rem
    height: 48rem
    max-height: 60rem
    max-width: 72rem
    width: 55%
  66%
    position: absolute
    height: calc(45vw/1.2)
    max-height: 60rem
    padding: 0
    width: 45vw
  100%
    position: absolute
    left: 0
    transform: translateX(0)
    width: 45vw
    height: calc(45vw/1.2)
    max-width: 72rem
    max-height: 60rem
    padding: 0

@keyframes imageOddRev
  0%
    position: relative
  1%
    left: 100%
    transform: translateX(-100%)
    position: absolute
    max-width: 100%
    width: 55%
  33%
    left: 0
    transform: translateX(0)
    padding: 3.6rem
    width: 45vw
    max-width: 72rem
  66%
    padding: 0
    height: 48rem
    max-height: 100%
  100%
    position: absolute
    left: 0
    transform: translateX(0)
    width: 45vw
    max-width: 72rem
    height: calc(45vw/1.2)
    max-height: 60rem
    padding: 0

@keyframes imageEven
  0%
    position: relative
  1%
    left: 0
    transform: translateX(0)
    position: absolute
    max-width: 100%
  33%
    position: absolute
    left: 100%
    transform: translateX(-100%)
    padding: 3.6rem
    height: 48rem
    max-height: 100%
    max-width: 72rem
    width: 55%
  66%
    position: absolute
    left: 100%
    transform: translateX(-100%)
    height: calc(45vw/1.2)
    max-height: 60rem
    padding: 0
    width: 45vw
  100%
    position: absolute
    left: 100%
    transform: translateX(-100%)
    width: 45vw
    height: calc(45vw/1.2)
    max-width: 72rem
    max-height: 60rem
    padding: 0

@keyframes imageEvenRev
  0%
    position: relative
  1%
    left: 0
    transform: translateX(0)
    position: absolute
    max-width: 100%
    width: 55%
  33%
    left: 100%
    transform: translateX(-100%)
    padding: 3.6rem
    width: 45vw
    max-width: 72rem
  66%
    padding: 0
    height: 48rem
    max-height: 100%
  100%
    position: absolute
    left: 100%
    transform: translateX(-100%)
    width: 45vw
    max-width: 72rem
    height: calc(45vw/1.2)
    max-height: 60rem
    padding: 0

@keyframes block
  0%
    width: 38%

  100%
    width: 100%
    height: calc(45vw/1.2)
    max-height: 60rem
    z-index: 2
    padding: 0 9.35%
    display: flex
    flex-direction: column
    justify-content: center
.portfolio
  display: flex
  flex-wrap: wrap
  justify-content: space-between
  max-width: 160rem

  &__list
    width: 100%
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    margin-top: 9rem

    &.row
      .portfolio
        &__item
          &:nth-child(odd)
            animation: itemOddRev .8s forwards reverse

            .portfolio__item--image
              animation: imageOddRev 1.2s forwards reverse

          &:nth-child(even)
            animation: itemEvenRev .8s forwards reverse

            .portfolio__item--image
              animation: imageEvenRev 1.2s forwards reverse

          &--image
            .icons
              transition: all .2s .6s

          &--block
            animation: blockRev .4s .8s forwards
            transition: opacity .4s .4s

    &.col
      .portfolio
        &__item
          &:nth-child(odd)
            animation: itemOdd .8s .4s forwards

            .portfolio__item--image
              animation: imageOdd 1.2s forwards

          &:nth-child(even)
            animation: itemEven .8s .4s forwards

            .portfolio__item--image
              animation: imageEven 1.2s forwards

          &--image
            .icons
              opacity: 0
              left: -1.2rem
              top: -1.2rem
              transition: all .2s .4s

            .image
              background: #1C1C1C

            img
              opacity: 1

          &--block
            animation: block .4s .8s forwards
            transition: opacity .4s
            opacity: 0

          &:hover
            .portfolio
              &__item
                &--block
                  opacity: 1

                &--image
                  img
                    opacity: .05

  &__item
    width: 100%
    display: flex
    align-items: center
    justify-content: space-between
    position: relative
    height: 52.5rem

    &:nth-child(even)
      flex-direction: row-reverse
      margin-left: auto

    &:not(:last-child)
      margin-bottom: 16rem

    &--image
      background: #1C1C1C
      padding: 3.6rem
      height: 52.5rem
      width: 55%
      left: 0
      top: 0
      position: relative

      .image
        overflow: hidden
        height: 100%
        width: 100%
        margin: 0
        background-color: #C8C8C8

      img
        width: 100%
        opacity: .4
        transition: opacity .4s

    &--block
      width: 38%
      opacity: 1
      overflow: hidden
      display: flex
      flex-direction: column
      justify-content: center

    &--title
      font-size: 4.2rem
      letter-spacing: 2px
      line-height: 1.2
      color: #cccccc
      font-weight: 400
      margin: 0

    &--text
      color: #bbbbbb
      font-size: 2.4rem
      line-height: 3rem
      margin-top: 2rem

    &--footer
      display: flex
      justify-content: space-between
      align-items: center

    &--btn
      +mx-btn($top: 6rem, $width: 48%)

  &__time
    width: 100%
    display: flex
    justify-content: space-between
    align-items: center
    padding-top: 3rem
    border-top: 1px solid #352B33

    &--item
      background: none
      outline: none
      border: none
      color: #595158
      font-weight: 600
      font-size: 2rem
      font-family: $font
      transition: color .4s
      padding: 0
      margin: 0
      cursor: pointer
      position: relative

      & .dop
        display: none
        color: #eeeeee
        font-size: 1.6rem
        font-weight: 400
        letter-spacing: 3px
        bottom: -1rem
        left: 50%
        transform: translate(-50%, 100%)
        word-break: normal
        position: absolute

      &:hover
        color: $orange

      &.active
        color: #eee

        & .dop
          display: block

  &__one
    &--btn
      +mx-btn()

    &--footer
      display: flex
      justify-content: space-between
      flex-wrap: wrap
      max-width: 84rem
      margin: 9rem auto 0 auto

      .btn
        min-width: 36rem

.icons
  position: absolute
  left: 1.2rem
  top: 1.2rem
  display: flex
  padding: 0

  .square,.circle
    width: 12px
    height: 12px
    border: 2px solid #333

  .triangle
    width: 14px
    height: 12px
    position: relative
    border-bottom: 2px solid #333
    overflow: hidden
    border-right: 1px solid transparent
    border-left: 1px solid transparent
    margin: 0 8px 0 9px

    &:before,&:after
      content: ''
      position: absolute
      display: block
      width: 2px
      height: 120%
      background-color: #333
      top: -2%

    &:before
      left: 20%
      transform: rotate(28deg)

    &:after
      right: 20%
      transform: rotate(-28deg)

  .circle
    border-radius: 50%

.carousel
  max-width: 127.2rem
  padding: 3.6rem
  background: #1C1C1C
  position: relative
  margin: 0 auto 20rem auto

  &__image
    height: 67.5rem
    margin: 0
    overflow: hidden

    img
      width: 100%

  .glide
    &__bullets
      position: absolute
      bottom: -7rem
      transform: translate3d(0,100%,0)
      left: -3.6rem

    &__bullet
      border: none
      width: 2.4rem
      height: 2.4rem
      border-radius: 50%
      background-color: #595158
      transition: background-color .4s
      outline: none
      cursor: pointer

      &:not(:first-child)
        margin-left: 3.6rem

      &--active
        background-color: #fb5f54

  .portfolio__one--btn
    position: absolute
    bottom: -7rem
    transform: translate3d(0,100%,0)
    right: -3.6rem

.clear
  clear: both