/node_modules
/public/hot
/public/css
/public/js
/public/img
/public/storage
/public/mix-manifest.json
report*
/storage/*.key
/vendor
/.idea
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
