.header
  display: flex
  justify-content: space-around
  align-items: center
  background: $bgColor
  padding: 6rem
  margin: 0 auto

  &.active
    background-color: $bgColorMenu
    position: fixed
    width: 100%
    top: 0
    left: 0
    z-index: 3

    &:after
      content: ''
      position: absolute
      z-index: 3
      width: 100%
      height: 80px
      background-color: $bgColorMenu
      top: 0
      left: 0

    .header
      &__logo
        .logo__item
          background-color: $bgColorMenu

      &__info
        transform: none

      &__menu
        &--a
          transition: color .4s, opacity 1.5s
          opacity: 1

  &__burger
    position: fixed
    left: 6rem
    top: 6rem
    width: 40px
    height: 34px
    color: #71616E
    +mx-cursor
    display: block
    background: none
    border: none
    z-index: 4

    &:hover,
    &:active
      color: #C8C8C8

    &:before,
    &:after
      content: ''

    &:before,
    &:after,
    &--item
      position: absolute
      left: 50%
      width: 100%
      border-top: 2px solid

    &:before
      top: 0
      transform: translateX(-50%)
      transition: ease .2s

    &:after
      top: 50%
      transform: translate(-50%, -50%)
      transition: ease .2s

    &--item
      bottom: 0
      transform: translateX(-50%)
      transition: ease .2s

    &.active
      color: #71616E

      &:hover,
      &:active
        color: #71616E

      &:before
        top: 50%
        transform: translateX(-50%) rotateZ(45deg)
        transition: ease .3s

      &:after
        transform: translateX(-50%) rotateZ(-45deg)
        transition: ease .3s

      .header__burger--item
        transform: translate(-50%, 10px)
        opacity: 0
        transition: ease .3s

  &__back
    position: fixed
    left: 6rem
    top: 6rem
    width: 40px
    height: 34px
    color: #71616E
    +mx-cursor
    display: block
    background: none
    border: none
    z-index: 4

    &:hover,
    &:active
      color: #C8C8C8

    &:before,
    &--item
      position: absolute
      border-top: 2px solid

    &:before
      content: ''
      top: 50%
      width: 20px
      height: 20px
      left: 1px
      border-left: 2px solid
      transform: translateY(-50%) rotate(-45deg)
      transition: ease .2s

    &--item
      top: 50%
      width: 100%
      left: 0
      transform: translateY(-50%)
      transition: ease .2s

  &__logo
    z-index: 4

  &__info
    position: fixed
    height: 100vh
    width: 100%
    top: 0
    left: 0
    background: $bgColorMenu
    display: flex
    flex-wrap: wrap
    justify-content: center
    padding: 27vh 16vw 1rem 16vw
    transform: translateX(-100%)
    z-index: 3

    @media (max-width: 1500px)
      padding: 27vh 8vw 1rem 8vw

    @media (max-width: $laptop)
      padding: 27vh 4vw 1rem 4vw

    @media (max-width: $pad)
      align-items: center
      padding: 80px 3rem 40px 3rem
      overflow: auto

  &__menu
    display: flex
    justify-content: space-between
    align-items: center
    width: 100%

    &--a
      color: #BDBDBD
      font-size: 3.5rem
      letter-spacing: 0.175rem
      text-decoration: none
      opacity: 0

      &:hover
        color: $orange

    @media (max-width: $pad)
      flex-wrap: wrap
      justify-content: space-around

      &--a
        margin: 2rem 3rem

  &__social
    display: flex
    justify-content: center
    align-items: center

    @media (max-width: $pad)
      margin-top: 5rem

    &--a
      display: inline-block
      margin: 0 3rem

      svg
        width: 4.1rem
        opacity: .4
        transition: opacity .4s

        circle, path, rect
          transition: fill .4s
          fill: #828282

      &:hover
        svg
          opacity: 1

          circle, path, rect
            fill: $orange

  &__tab
    width: 40px
    height: 40px
    +mx-cursor
    position: fixed
    right: 6rem
    top: 6rem
    z-index: 11

    &:hover,&:active
      .header__tab--item
        &:before,&:after
          border-color: #C8C8C8

    &.row
      .header__tab--item
        &:before,&:after
          width: 18px

    &.col
      .header__tab--item
        &:before,&:after
          width: 100%

        &:before
          border-right-color: transparent

        &:after
          border-left-color: transparent

    &--item
      width: 100%
      position: relative
      height: 18px

      &:last-child
        margin-top: 4px

      &:before,&:after
        content: ''
        display: block
        position: absolute
        top: 0
        width: 18px
        height: 100%
        border-radius: 3px
        border: 2px solid #71616E
        transition: border .4s, width .4s

      &:before
        left: 0

      &:after
        right: 0

  @media (max-width: 1900px)
    &__burger,&__back
      left: 3rem

    &__tab
      right: 3rem

  @media (max-width: $laptop)
    padding: 3.5rem

    &__burger,&__back
      top: 1.75rem
      width: 50px
      height: 50px
      background: #1C1C1C
      border: 14px solid #1C1C1C
      border-radius: 50%

    &__tab
      display: none

  @media (max-width: $mobile)
    &__burger,&__back
      left: 1.75rem